<div class="about">
  <div class="about__content">
    <div class="about__container">
      <div class="container">
        <h1 class="about__title login__title">Anna & Andreas</h1>
        <p class="about__date login__date">04 augusti 2018</p>

        <div class="about__txt">
          Bästa {{invite.firstName}}
          <span *ngIf="invite.plusFirstName"> och {{invite.plusFirstName}}</span>,
          <br/> Ni är inbjudna till lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam dicta quia consectetur aspernatur perferendis
          ipsum iusto unde, dolores esse perspiciatis, quas sit illum non nisi voluptate id doloremque odio voluptatibus.

          <a class="about__osa" [routerLink]=" ['/osa'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            OSA
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="about__content">
    <div class="about__container">
      <div class="container">
        <h1 class="about__title">Resa till Åland</h1>
        <div class="about__column about__txt">
          <div class="rich__text">
            <div class="icon icon--boat">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 125"
                style="enable-background:new 0 0 100 100;" xml:space="preserve">
                <path d="M38.8,32.6h7.5h7.4h7.5v8.1l2,1.2V31.6c0-0.6-0.4-1-1-1h-7.5v-3.9h2.7c0.6,0,1-0.4,1-1V21c0-0.6-0.4-1-1-1H42.6  c-0.6,0-1,0.4-1,1v4.7c0,0.6,0.4,1,1,1h2.7v3.9h-7.5c-0.6,0-1,0.4-1,1v10.2l2-1.2V32.6z M43.6,22h12.8v2.7H43.6V22z M47.3,26.7h5.4  v3.9h-5.4V26.7z M31.1,48.3c-0.1-0.4,0.1-0.9,0.5-1.1l18-10.4c0.3-0.2,0.7-0.2,1,0l18,10.4c0.4,0.2,0.6,0.7,0.5,1.1l-4.4,15.1  c-0.5-0.3-1.1-0.7-1.8-0.9l4.1-14L50,38.8l-16.8,9.8l4.1,14c-0.7,0.3-1.3,0.6-1.8,0.9L31.1,48.3z M20.9,64.9c0-0.6,0.4-1,1-1  c2.7,0,4.1,1.2,5.3,2.2c1.1,0.9,2.1,1.7,4,1.7c2,0,2.9-0.8,4-1.7c1.2-1,2.6-2.2,5.3-2.2c2.7,0,4.1,1.2,5.3,2.2  c1.1,0.9,2.1,1.7,4,1.7c2,0,2.9-0.8,4-1.7c1.2-1,2.6-2.2,5.3-2.2c2.7,0,4.1,1.2,5.3,2.2c1.1,0.9,2.1,1.7,4,1.7s2.9-0.8,4-1.7  c1.2-1,2.6-2.2,5.3-2.2c0.6,0,1,0.4,1,1s-0.4,1-1,1c-2,0-2.9,0.8-4,1.7c-1.2,1-2.6,2.2-5.3,2.2c-2.7,0-4.1-1.2-5.3-2.2  c-1.1-0.9-2.1-1.7-4-1.7c-2,0-2.9,0.8-4,1.7c-1.2,1-2.6,2.2-5.3,2.2s-4.1-1.2-5.3-2.2c-1.1-0.9-2.1-1.7-4-1.7c-2,0-2.9,0.8-4,1.7  c-1.2,1-2.6,2.2-5.3,2.2c-2.7,0-4.1-1.2-5.3-2.2c-1.1-0.9-2.1-1.7-4-1.7C21.3,65.9,20.9,65.5,20.9,64.9z M79.1,75.1c0,0.6-0.4,1-1,1  c-2,0-2.9,0.8-4,1.7c-1.2,1-2.6,2.2-5.3,2.2c-2.7,0-4.1-1.2-5.3-2.2c-1.1-0.9-2.1-1.7-4-1.7c-2,0-2.9,0.8-4,1.7  c-1.2,1-2.6,2.2-5.3,2.2c-2.7,0-4.1-1.2-5.3-2.2c-1.1-0.9-2.1-1.7-4-1.7c-2,0-2.9,0.8-4,1.7c-1.2,1-2.6,2.2-5.3,2.2  c-2.7,0-4.1-1.2-5.3-2.2c-1.1-0.9-2.1-1.7-4-1.7c-0.6,0-1-0.4-1-1s0.4-1,1-1c2.7,0,4.1,1.2,5.3,2.2c1.1,0.9,2.1,1.7,4,1.7  c2,0,2.9-0.8,4-1.7c1.2-1,2.6-2.2,5.3-2.2c2.7,0,4.1,1.2,5.3,2.2c1.1,0.9,2.1,1.7,4,1.7c2,0,2.9-0.8,4-1.7c1.2-1,2.6-2.2,5.3-2.2  c2.7,0,4.1,1.2,5.3,2.2c1.1,0.9,2.1,1.7,4,1.7s2.9-0.8,4-1.7c1.2-1,2.6-2.2,5.3-2.2C78.7,74.1,79.1,74.6,79.1,75.1z"
                />
              </svg>
            </div>
            <p>Till Åland tar man sig enklast med någon av reguljärfärjorna, resan tar ca 2 h från Sverige.</p>
            <p>Kapellskär(SWE) – Mariehamn (AX)
              <br/>
              <a href="https://www.vikingline.se" target="_blank">Vikingline.se</a>
            </p>
            <p>Grisslehamn (SWE) – Berghamn, Eckerö (AX)
              <br/>
              <a href="https://www.eckerolinjen.se" target="_blank">Eckerolinjen.se</a>
            </p>
          </div>
        </div>
        <div class="about__column about__txt ">
          <div class="rich__text">
            <div class="icon icon--plane">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 125"
                enable-background="new 0 0 100 100" xml:space="preserve">
                <g>
                  <g>
                    <g>
                      <path d="M71.209,88.287c-0.114,0-0.229-0.013-0.343-0.04c-0.509-0.119-0.918-0.494-1.082-0.99L58.682,53.563L47.21,65.169v15.394     c0,0.395-0.155,0.773-0.433,1.055l-5.904,5.975c-0.341,0.345-0.823,0.508-1.307,0.426c-0.479-0.077-0.891-0.381-1.105-0.816     l-8.41-17.023l-16.82-8.507c-0.428-0.217-0.727-0.625-0.804-1.098c-0.077-0.474,0.077-0.955,0.414-1.296l5.904-5.971     c0.281-0.285,0.666-0.445,1.066-0.445h15.197L46.51,41.224L13.178,29.981c-0.49-0.165-0.86-0.571-0.98-1.075     c-0.119-0.503,0.029-1.032,0.394-1.4l6.211-6.281c0.315-0.319,0.758-0.477,1.204-0.439l42.813,3.939l6.907-6.99     c1.001-1.008,6.235-6.021,11.265-6.021c1.899,0,3.594,0.699,4.9,2.022c4.199,4.246,1.039,11.248-3.956,16.304l-6.917,6.997     l3.894,43.332c0.039,0.439-0.117,0.874-0.427,1.188l-6.209,6.285C71.991,88.13,71.605,88.287,71.209,88.287z M59.339,49.264     c0.114,0,0.229,0.013,0.343,0.04c0.509,0.119,0.918,0.494,1.082,0.99l11.103,33.693l3.995-4.044L71.968,36.61     c-0.039-0.439,0.117-0.874,0.428-1.188l7.406-7.492c2.75-2.783,7.116-8.891,3.956-12.086c-0.741-0.751-1.672-1.131-2.767-1.131     c-3.186,0-7.239,3.227-9.133,5.133l-7.404,7.492c-0.314,0.319-0.754,0.482-1.204,0.439l-42.813-3.939l-4.023,4.069l33.331,11.242     c0.49,0.165,0.86,0.571,0.979,1.074c0.12,0.504-0.028,1.033-0.392,1.401L36.703,55.416c-0.282,0.285-0.666,0.445-1.067,0.445     H20.438l-4.016,4.062l15.429,7.803c0.29,0.146,0.524,0.384,0.668,0.675l7.699,15.585l3.992-4.039V64.553     c0-0.395,0.155-0.773,0.434-1.055l13.629-13.789C58.557,49.421,58.942,49.264,59.339,49.264z"
                      />
                    </g>
                  </g>
                </g>
              </svg>
            </div>
            <p>Man kan även flyga från Arlanda.</p>
            <p>
              <a href="http://www.airaland.com/" target="_blank">Airaland.com</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="about__content">
    <div class="about__container">
      <div class="container">
        <h1 class="about__title">Boende på Åland</h1>
        <div class="about__txt">
          <div class="rich__text">

            <div class="icon icon--bed">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="1 -1 100 125"
                style="enable-background:new 1 -1 100 100;" xml:space="preserve">
                <title>12</title>
                <g>
                  <path d="M93.8,85.4v-27l-10-24V12.6H18.2v21.8l-10,24v27h2V74.7h81.6v10.7H93.8z M81.8,14.5v19H75v-7.7H55.9   v7.8h-9.8v-7.8H27v7.8h-6.8v-19L81.8,14.5z M73,27.8V41H57.9V27.8H73z M44.1,27.8V41H29V27.8H44.1z M19.9,35.6H27V43h19.1v-7.4h9.8   V43H75v-7.4h7.1l9.2,22H10.7L19.9,35.6z M10.2,72.7V59.6h81.6v13.1H10.2z"
                  />
                </g>
              </svg>
            </div>

            <p>Det finns många olika alternativ för boende på Åland. Om det är för en natt, en vecka eller om ni vill
              bo på olika ställen under er vistelse. Enklast är att kika på vad som fungerar bäst för er. Sommartid
              är högsäsong för turismen på Åland, så vi rekommenderar att ni bokar boende i
              <u>mycket</u> god tid.</p>
            <p>Allmän information om och boende på Åland:
              <br/>
              <a href="#" target="_blank">Visitaland.com</a>
            </p>
            <p>Hyr stuga av en privatperson:
              <br/>
              <a href="#" target="_blank">Stugsidan.se</a>
            </p>
            <p>Hyr ett rum/stuga/hus:
              <br/>
              <a href="#" target="_blank">AirBnb.com</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="about__content">
    <div class="about__container">
      <div class="container">
        <h1 class="about__title">Mer info kommer senare</h1>
      </div>
    </div>
  </div>
</div>