<div class="login">
  <div class="login__container">
    <div class="login__content">
      <h1 class="ml5">
        <span class="text-wrapper">
          <span class="line line1"></span>
          <span class="letters letters-left">Anna</span>
          <span class="letters ampersand">&amp;</span>
          <span class="letters letters-right">Andreas</span>
          <span class="line line2"></span>
        </span>
      </h1>
      <p class="login__date">04 augusti 2018</p>

      <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <div class="login__wrap">
          <input placeholder="Din inbjudningskod" id="code" class="login__input" name="code" ngModel required #code="ngModel">
          <!-- <button class="login__btn">OK</button> -->
        </div>
      </form>
    </div>
  </div>
</div>