@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-sizing($type) {
  -moz-box-sizing: $type;
  -webkit-box-sizing: $type;
  box-sizing: $type;
}

@mixin background-opacity($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

@mixin placeholder-text($color, $style: normal, $weight: normal) {
    &::-webkit-input-placeholder { color: $color; font-style: $style; font-weight: $weight; }
    &:-moz-placeholder { color: $color; font-style: $style; font-weight: $weight; }
    &::-moz-placeholder { color: $color; font-style: $style; font-weight: $weight; }
    &:-ms-input-placeholder { color: $color; font-style: $style; font-weight: $weight; }
}

@mixin transition($what, $time, $timing) {
    -moz-transition: $what $timing $time;
    -o-transition: $what $timing $time;
    -webkit-transition: $what $timing $time;
    transition: $what $timing $time;
}


@mixin box-shadow($x, $y, $blur, $color, $inset: "") {
    -webkit-box-shadow: $x $y $blur $color unquote($inset);
    -moz-box-shadow: $x $y $blur $color unquote($inset);
    box-shadow: $x $y $blur $color unquote($inset);
}

@mixin columns ($columns, $gap: 0px) {
  -webkit-column-count: $columns; /* Chrome, Safari, Opera */
  -moz-column-count: $columns; /* Firefox */
  column-count: $columns;

  -webkit-column-gap: $gap; /* Chrome, Safari, Opera */
  -moz-column-gap: $gap; /* Firefox */
  column-gap: $gap;
}

@mixin calc-min-height($expression, $fallback){
    min-height: $fallback;
    min-height: -moz-calc(#{$expression});
    min-height: -webkit-calc(#{$expression});
    min-height: calc(#{$expression});
}

@mixin rotate($degrees){
  -ms-transform: rotate($degrees); -webkit-transform: rotate($degrees); transform: rotate($degrees);
}

@mixin scale($x,$y:$x){
  -ms-transform: scale($x, $y); -webkit-transform: scale($x, $y); transform: scale($x, $y);
}
@mixin transform-origin($x,$y:$x) {
  -ms-transform-origin: $x $y;
  -webkit-transform-origin: $x $y;
  transform-origin: $x $y;
}
@mixin word-wrap($type) {
  -ms-word-wrap: $type; word-wrap: $type; 
}

@mixin multi-text-ellipsis($line-height, $max-lines){
  display: -webkit-box!important;
  line-height:$line-height;
  max-height: $line-height*$max-lines;
  -webkit-line-clamp: $max-lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin background-gradient($top, $bottom, $topOpacity, $bottomOpacity, $height: 100%){
    background: -moz-linear-gradient(top,rgba($top, $topOpacity) 0,rgba($bottom, $bottomOpacity) $height);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba($top, $topOpacity)),color-stop($height,rgba($bottom, $bottomOpacity)));
    background: -webkit-linear-gradient(top,rgba($top, $topOpacity) 0,rgba($bottom, $bottomOpacity) $height);
    background: -o-linear-gradient(top,rgba($top, $topOpacity),rgba($bottom, $bottomOpacity) $height);
    background: -ms-linear-gradient(top,rgba($top, $topOpacity) 0,rgba($bottom, $bottomOpacity) $height);
    background: linear-gradient(to bottom,rgba($top, $topOpacity) 0,rgba($bottom, $bottomOpacity) $height);    
}

@mixin linear-gradient($direction, $color-stops...) {
  @if is-direction($direction) == false {
    $color-stops: ($direction, $color-stops);
    $direction: 180deg;
  }
  
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}