﻿/*** RESET ***/
html, body, div, span, applet, object, iframe, main,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; @include box-sizing(border-box); }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }

html { overflow:hidden; overflow-y: scroll; }

body { line-height: 1; width: 100%; }
ol, ul { list-style: none; }
ul, li { list-style-image: none; margin: 0; }

b, strong { font-weight: 800; }
em, i { font-style: italic; }

blockquote, q { quotes: none; }
    blockquote:before, blockquote:after,
    q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

input[type="submit"], button { cursor: pointer; }

.screen-reader-text { display:none; }

button,
input,
textarea {
   @include border-radius(0);
   
   &:focus {
     outline:none;
   }
}
/*** END RESET ***/