﻿@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700|Source+Sans+Pro:100,400,600,800');

html { font: 62.5%/1.4 'Source Sans Pro', sans-serif; /*(= 10px) */ -webkit-font-smoothing: antialiased; font-weight:400; color: #000; }
button,
input,
textarea {
	font-family: 'Source Sans Pro', sans-serif;
}

p {
  line-height:1.6em;
  margin:1em 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight:800;
  font-family: 'Playfair Display', serif;
  margin-bottom: 1em;
  color: $darkColor;
  line-height:1.4em;
}

.rich__text {
  a {
    position: relative;
    text-decoration:none;
    font-weight:bold;
    color: $primaryColor;

    &::before {
      content: " ";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -2px;
      left: 0;
      background-color: $secondaryColor;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }
    &:hover {
      &::before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }
    }
  }
}



