/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */

@import 'mixins';
@import 'reset';
@import 'variables';
@import 'typography';

h1,h2,h3,h4,h5,h6 {
  font-family: 'Playfair Display', serif;  
}

body,
html {
  margin: 0;
  height:100%;
  background:$bgColor;
}

app, main {
  height: 100%;
  display: block;
}

login,
osa,
about {
  display:block;
  height:100%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.login {
  display:table;
  width:100%;
  height:100%;
  overflow: hidden;

  &__container {
    display:table-cell;
    vertical-align: middle;
    text-align: center;
  }

  &__content {
    // background: #fff;
    padding: 0 0 40px;
  }

  .ml5 {
    position: relative;
    font-weight: 300;
    font-size: 3.4em;
    color: $darkColor;
    margin: 0 0 20px;
    background: #fff;
  }
  
  .ml5 .text-wrapper {
    position: relative;
    display: block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
    line-height: 1em;
  }
  
  .ml5 .line {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 3px;
    width: 100%;
    background-color: $darkColor;
    transform-origin: 0.5 0;
    opacity: 0;
  }
  
  .ml5 .ampersand {
    // font-family: Baskerville, "EB Garamond", serif;
    // font-style: italic;
    font-weight: 400;
    width: 1em;
    margin-right: -0.1em;
    margin-left: -0.1em;
  }
  
  .ml5 .letters {
    display: inline-block;
    opacity: 0;
  }

  &__img {
    width:100%;
    display: block;
  }

  &__date {
    opacity: 0;
    font-size: 1.6em;
    color: $darkColor;
    text-transform: uppercase;
    letter-spacing: 2px;
    display:inline-block;
    margin: 10px auto 40px;
    position:relative;
  }

  &__wrap {
    opacity: 0;
    position:relative;
    max-width:280px;
    margin:0 auto;
  }
  &__input {
    width:100%;
    font-size: 2em;
    line-height:30px;
    display: inline-block;
    text-align: center;
    border: 2px solid $primaryColor;
    color: $darkColor;
    background: #fff;
    padding: 5px 20px;
    margin: 0;
    box-sizing: border-box;
  }

  &__btn {
    position: absolute;
    width: 62px;
    height: 42px;
    text-align:center;
    color: #fff;
    background: $primaryColor;
    border:none;
    top:0;
    right:0;
    font-weight: 600;
    font-size:1.8em;
    border-radius: 0 21px 21px 0;
  }
}

.osa {
  text-align:center;
  padding:40px 20px;

  p {
    font-size:1.6em;
  }

  &__title {
    font-size: 3.6em;
    color: $darkColor;
  }
  &__subtitle {
    font-size: 2.6em;
    text-align:center;
  }

  &__btn {
    font-size:1.8em;
    background:#fff;
    border:none;
    margin: 6px;
    padding: 10px 20px;
    border-radius: 40px;
    line-height:20px;
    min-width: 260px;
    
    &--submit {
      display: block;
      width: 100%;
      background:$primaryColor;
      color: #fff;
    }
    &--yes {
      background:$primaryColor;
      color: #fff;
    }
  }

  &__form {
    text-align:left;

    &__guest {
      border-top: 1px solid #ccc;
    }
    &__item {
      margin: 40px 0 20px;
      
    }
    &__title {
      font-size: 1.6em;
    }

    &__input {
      width: 100%;
      font-size: 1.6em;
    }
    &__label {
      font-size:1.6em;
      line-height: 2em;
      display: inline-block;
    }


  }
}

.about {
  height:100%;
  overflow:scroll;
  &__content {
    background: #fff;
    color: $darkColor;
    min-height: 100%;
    position:relative;
    display: table;
    width: 100%;
    text-align: center;

    &:nth-child(even) {
      background: $secondaryColor;
      color: #fff;

      h1,h2,h3,h4,h5 {
        color: #fff;
      }

      .icon {
        border-color: #fff;
        svg {
          fill: #fff;
        } 
      }
      .rich__text {
        a {
          color: #fff;
          &::before {
            background-color: #fff;
          }
        }
      }
    }
    &::after {
      content: " ";
      position: absolute;
      top:-10vh; left: 0;
      background-color:inherit;
      padding-bottom:10vh; width:100%;
      clip-path: polygon(0 100%, 100% 0, 100% 100%, 0% 100%);
    }
  }
  &__container {
    display:table-cell;
    vertical-align: middle;
    padding: 10vh 0 20vh;
  }

  &__title {
    font-size: 3.6em;
  }

  &__date {
    margin-bottom:30px;
    opacity: 1;
  }

  &__osa {
    color:#fff;
    background: $primaryColor;
    font-size: 2rem;
    display:block;
    margin: 20px auto;
    width:200px;
    height:40px;
    line-height:40px;
    padding: 0 20px;
    border-radius: 20px;
  }

  &__txt {
    font-size: 1.6em;
    line-height: 1.6em;
    max-width: 40em;
    margin: 0 auto;
    padding: 20px;
  }
}

.icon {
  width:60px;
  height:60px;
  display:block;
  border: 1px solid $primaryColor;
  border-radius: 50%;
  margin: 0 auto;
  
  svg {
    fill: $primaryColor;
  }

  &--plane {
    padding: 10px;
  }
  &--bed {
    padding: 10px;
  }
}

.admin {
  padding: 40px;
  &__title {
    font-size:3em;
    line-height:40px;
    display:inline-block;
    margin:0;
    vertical-align:middle;
  }
  &__subtitle {
    font-size:2em;
    margin: 2em 0 1em;
  }
  &__btn {
    color:#fff;
    background: $primaryColor;
    font-size: 1.4rem;
    display:inline-block;
    height:30px;
    line-height:30px;
    padding: 0 10px;
    border-radius: 20px;
    border:none;
    margin: 0 10px;
    vertical-align:middle;
  }

  &__form {
    font-size:1.4em;
    th {
      font-weight:bold;
      text-align: left;
    }
    th,td {
      padding: 3px;
    }
    input {
      font-size:1.2rem;
      line-height:20px;
    }
    .admin__btn {
      font-size:1.2rem;
      line-height:20px;
      height:20px;
      margin:0;
    }
  }


}

@media (min-width: 700px) {
  .about {
    &__title {
      font-size:6em;
      margin-bottom:0.2em;
    }
    &__column {
      width: 50%;
      float: left;
    }
  }
}

