<div class="osa">
  <h1 class="osa__title">{{guests[0].firstName}} <span *ngIf="guests[1] && guests[1].firstName">& {{guests[1].firstName}}</span></h1>

  <div *ngIf="rsvpDone; else otherContent">
    <h2 class="osa__subtitle">Tack!</h2>
    <p>Du kan alltid komma tillbaka och uppdatera er information.</p>
    <!-- <button class="osa__btn" (click)="updateRSVP()">Uppdatera</button> -->
    <button class="osa__btn" [routerLink]=" ['/about'] "
      routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
      Tillbaka till informationen
    </button>
    <!-- Todo: fixa översikt över osning -->
  </div>

  <ng-template #otherContent>
    <span *ngIf="!rsvp">
      <button class="osa__btn osa__btn--yes" (click)="yes()">Ja, <span *ngIf="!guests[1]">jag</span><span *ngIf="guests[1]">vi</span> kommer</button>
      <button class="osa__btn" (click)="no()">Nej, <span *ngIf="!guests[1]">jag</span><span *ngIf="guests[1]">vi</span> kan tyvärr inte komma</button>
    </span>
    
    <div *ngIf="rsvp === 'no' && !done" class="osa__no">
      <h2 class="osa__subtitle">Så synd att <span *ngIf="!guests[1]">du</span><span *ngIf="guests[1]">ni</span> inte kan komma</h2>
      <p>Skicka gärna en hälsning till brudparet! Om planerna ändras, hör av er till Anna eller Andreas!</p>
  
      <form class="osa__form" (ngSubmit)="onNoSubmit()" #noForm="ngForm">
          
        <div class="osa__form__item">        
          <h3 class="osa__form__title">Hälsning</h3>
          <textarea class="osa__form__input" id="greeting" [(ngModel)]="guests[0].greeting" name="greeting" #greeting="ngModel"></textarea>
          
          <!-- <textarea name="greeting" [(ngModel)]="greeting" #greeting="ngModel" rows="6" class="osa__form__input"></textarea> -->
        </div>
  
        <div class="osa__form__item">
          <button class="osa__btn osa__btn--submit" type="submit">Skicka</button>
        </div>
      </form>
      
      <div class="osa__form__item">
        <button class="" (click)="yes()">Oops, vi kan visst komma!</button>
      </div>
    </div>
  
    <div *ngIf="rsvp === 'yes' && !done">
      <h2 class="osa__subtitle">Kul att <span *ngIf="!guests[1]">du</span><span *ngIf="guests[1]">ni</span> kan komma!</h2>
      <p>Lorem ipsum fyll i er information nedan så att vi vet vad ni bla bla bla</p>
  
      <form class="osa__form" (ngSubmit)="onYesSubmit()" #yesForm="ngForm">
  
        <div *ngFor="let guest of guests, let i = index" class="osa__form__guest">
          <div class="osa__form__item">
            <h3 class="osa__form__title">Förnamn</h3>
            <input type="text" class="osa__form__input" id="firstName-{{i}}" required [(ngModel)]="guest.firstName" name="firstName-{{i}}" #firstName="ngModel">
  
            <div [hidden]="firstName.valid || lastName.pristine" class="alert alert-danger">
              Firstname is required
            </div>
          </div>
          <div class="osa__form__item">
            <h3 class="osa__form__title">Efternamn</h3>
            <input type="text" class="osa__form__input" id="lastName-{{i}}" required [(ngModel)]="guest.lastName" name="lastName-{{i}}" #lastName="ngModel">
  
            <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
              Lastname is required
            </div>
          </div>
  
          <div class="osa__form__item">
            <h3 class="osa__form__title">Allergier</h3>
            <ul class="osa__form__list">
              <li>
                <input type="checkbox" id="gluten-{{i}}" [(ngModel)]="guest.gluten" name="gluten-{{i}}" #gluten="ngModel">
                <label class="osa__form__label" for="gluten-{{i}}">Gluten</label>
              </li>
              <li>
                <input type="checkbox" id="laktos-{{i}}" [(ngModel)]="guest.laktos" name="laktos-{{i}}" #laktos="ngModel">
                <label class="osa__form__label" for="laktos-{{i}}">Laktos</label>
              </li>
              <li>
                <input id="annat-{{i}}" type="checkbox">
                <label class="osa__form__label" for="annat-{{i}}">Annat, fyll i nedan</label>
              </li>
              <li>
                <input type="text" class="osa__form__input" id="otherAllergy-{{i}}" [(ngModel)]="guest.otherAllergy" name="otherAllergy-{{i}}"
                  #otherAllergy="ngModel">
              </li>
            </ul>
          </div>
  
          <div class="osa__form__item">
            <h3 class="osa__form__title">Alkohol till maten?</h3>
            <ul class="osa__form__list">
              <li>
                <input type="checkbox" id="alcohol-{{i}}" [(ngModel)]="guest.alcohol" name="alcohol-{{i}}" #alcohol="ngModel">
                <label class="osa__form__label" for="alcohol-{{i}}">Ja tack!</label>
              </li>
              <li *ngIf="guest.alcohol">
                <input type="radio" id="beer-{{i}}" [(ngModel)]="guest.alcoholType" name="beer-{{i}}" #alcoholType="ngModel" value="beer">
                <label class="osa__form__label" for="beer-{{i}}">Öl</label>
              </li>
              <li *ngIf="guest.alcohol">
                <input type="radio" id="wine-{{i}}" [(ngModel)]="guest.alcoholType" name="wine-{{i}}" #alcoholType="ngModel" value="wine">
                <label class="osa__form__label" for="wine-{{i}}">Vin</label>
              </li>
            </ul>
          </div>
  
        </div>
  
        <div *ngIf="guests.length === 1 && canHavePlusOne" class="osa__form__item">
          <button type="button" class="osa__btn osa__btn--plusone" (click)="plusOne()">Lägg till +1</button>
        </div>
  
        <div class="osa__form__item">
          <button class="osa__btn osa__btn--submit" type="submit" [disabled]="!yesForm.form.valid">Spara</button>
        </div>
      </form>
  
    </div>
      
    <div *ngIf="rsvp === 'yes' && done">
      <h2 class="osa__subtitle">Hurra!</h2>
      <p>Bidra till kvällensspela lista (helt anonymt vi lovar) genom att svara på följande frågor:</p>
  
      <form class="osa__form" (ngSubmit)="onSongSubmit()" #noForm="ngForm">
          
        <div class="osa__form__item">        
          <h3 class="osa__form__title">Om du endast fick lyssna på EN låt resten av ditt liv – vilken skulle det vara?</h3>
          <input type="text" class="osa__form__input" id="one" [(ngModel)]="songs.one" name="one" #one="ngModel">
        </div>
  
        <div class="osa__form__item">        
          <h3 class="osa__form__title">En låt du gärna dansade till som nybliven 18-åring</h3>
          <input type="text" class="osa__form__input" id="teenage" [(ngModel)]="songs.teenage" name="teenage" #teenage="ngModel">
        </div>
  
        <div class="osa__form__item">
          <button class="osa__btn osa__btn--submit" type="submit">Skicka</button>
        </div>
      </form>
      
    </div>
  </ng-template>




  
</div>