<div class="admin">
 <div class="admin_container">
  

  <div *ngIf="afAuth.authState | async; let user; else showLogin">
    <h1 class="admin__title">Hello!</h1>
    <button class="admin__btn admin__logout" (click)="logout()">Logout</button>

    <h2 class="admin__subtitle">Inbjudna gäster</h2>

    <form class="admin__form">
      <thead>
        <th>Förnamn</th>
        <th>Efternamn</th>
        <th>Epost</th>
        <th>+1 Förnamn</th>
        <th>+1 Efternamn</th>
        <th>Kod</th>
      </thead>
      <tr *ngFor="let item of items | async">
        <td><input type="text" #updateFirstName [value]="item.firstName" /></td>
        <td><input type="text" #updateLastName [value]="item.lastName" /></td>
        <td><input type="text" #updateEmail [value]="item.email" /></td>
        <td><input type="text" #updatePlusFirstName [value]="item.plusFirstName ? item.plusFirstName : ''" /></td>
        <td><input type="text" #updatePlusLastName [value]="item.plusLastName ? item.plusLastName : ''" /></td>
        <td><input type="text" #updateCode [value]="item.code" /></td>
        <td>
          <button type="submit" class="admin__btn"
          (click)="updateItem(item.key, updateFirstName.value, updateLastName.value, updateEmail.value, updatePlusFirstName.value, updatePlusLastName.value, updateCode.value)"
          >Uppdatera</button></td>
        <td><button class="admin__btn" (click)="deleteItem(item.key)">Delete</button></td>
      </tr>
    
      <!-- <button (click)="updateItem(item.key, updatetext.value)">Update</button> -->
      
    </form>
  
    <h2 class="admin__subtitle">Lägg till inbjudan</h2>
    <form #f="ngForm" (ngSubmit)="addInvite(f)" novalidate>
      <table class="admin__form">
        <thead>
          <th>Förnamn</th>
          <th>Efternamn</th>
          <th>Epost</th>
          <th>+1 Förnamn</th>
          <th>+1 Efternamn</th>
        </thead>
        <tr>
          <td><input #hoolaaa name="firstName" ngModel required #firstName="ngModel" type="text" placeholder="Förnamn"></td>
          <td><input name="lastName" ngModel required #lastName="ngModel" type="text" placeholder="Efternamn"></td>
          <td><input name="email" ngModel required #email="ngModel" type="email" placeholder="Email"></td>
          <td><input name="plusFirstName" ngModel #plusFirstName="ngModel" type="text" placeholder="Förnamn"></td>
          <td><input name="plusLastName" ngModel #plusLastName="ngModel" type="text" placeholder="Efternamn"></td>
          <td><button class="admin__btn">Spara</button></td>
        </tr>
      </table>
    </form>
  </div>



  <ng-template #showLogin>
    <form #f="ngForm" (ngSubmit)="login(f)" novalidate>
      <input name="email" ngModel required #email="ngModel" type="email">
      <input name="password" ngModel required #password="ngModel" type="password">
      <button>Submit</button>
    </form>
  </ng-template>

  

 </div>
</div>
